* {
    font-family: 'Dosis', sans-serif;
    letter-spacing: 3px;
}

#header nav {
    height: 82px;
    background: transparent;
    position: fixed;
    box-shadow: 0px 0px 0px 0px;
    z-index: 9999;
}

.main-menu {
    display: block;
    font-size: 17px;
    float: left;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 20px 40px 0 40px;
    width: calc(100% - 500px);
    font-weight: 500;
}

#main-menu li{
    display: inline-block;
    margin-right: 40px;
}

#main-menu li a {
    color: white;
    text-decoration: none;
}

.page-banner {
    min-height: 100vh;
    background-image: url('../assets/images/fondo-bg.jpg');
    background-size: cover;
    background-position: center center;
}
.page-banner .row {
    margin-bottom: 0px;
}

main .row h1.col {
    position: absolute;
    font-weight: 700;
    color: #fff;
    letter-spacing: 17.5px;
    padding-right: 0px;
    margin-top: 18%;
    background: rgba(0, 0, 0, 0.207);
    width: 80%;
    text-align: center;
}

main .row h4.col {
    position: absolute;
    font-weight: 700;
    color: rgb(0, 0, 0);
    margin-top: 24%;
    text-align: center;
    letter-spacing: 4px;
}

#sobre-mi .row h1.col {
    position: absolute;
    font-weight: 700;
    color: rgb(0, 0, 0);
    letter-spacing: 10px;
    padding-left: 12%;
    padding-right: 0px;
    margin-top: 7%;
}

#sobre-mi .row p.col {
    position: absolute;
    font-weight: 500;
    color: rgb(0, 0, 0);
    padding-right: 0px;
    margin-top: 15%;
    letter-spacing: 2px;
    font-size: 20px;
}

#sobre-mi .row img.col {
    margin-top: 15%;
    width: 300px;
}

.logo {
    margin-top: 7px;
}

#sobre-mi{
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

#habilidades{
    height: 100vh;
    background: url('../assets/images/fondo-hab.jpg');
    background-size: cover;
    background-position: center center;
}

#portafolio{
    height: 100vh;
}

#contactame{
    height: 100vh;
}

.scroll-down {
    background-color: white;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}



